[user]
	name = zhangbaoqing
	email = zbqyexingkong@163.com
[diff]
	tool = vimdiff
[difftool]
	prompt = No
[core]
	editor = vim
[color]
	ui = true
[alias]
	log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
